@{
    ViewData["Title"] = "Home Page";
}

@model ProjectListViewModel

<!--tag helpers are there to help us dynamically build a web page through models-->
<header class="text-center">
    <h1>My Online Bookstore</h1>
</header>

<!--Table that outputs all the books in the database-->
<div class="text-center">
    <table class="table">
        <thead class="font-weight-bold">
            <tr>
                <th>Title</th>
                <th>Author First Name</th>
                <th>Author Middle Name</th>
                <th>Author Last Name</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>Classification</th>
                <th>Category</th>
                <th>Price</th>
                <th>Number of Pages</th>
            </tr>
        </thead>
        <tbody class="text-danger">
            @foreach (var x in Model.Books)
            {
                //creating a partial view to display by category if wanted
               <partial name="BookCategory" model="x" />
            }
        </tbody>
    </table>
</div>
<div page-model="@Model.PagingInfo" page-action="Index" page-class-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" 
     class="btn-group pull-right m-1"></div>

